body {
    background-color: black;
    color: white;
    box-sizing: border-box;
}

.row {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #555;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33.33333%;
    height: 100%;
    text-align: center;
    height: 100%;
}

#d1, #d2, #d3 {
    width: 35px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

button {
    font: bold;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

#notification {
    opacity: 0;
}